<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTslzRUzpw3T_kRa8E-hGxRw0op2n51Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>430029536167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pai</string>
	<key>PROJECT_ID</key>
	<string>pai-project-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>pai-project-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:430029536167:ios:8d6059895561893fc6d482</string>
</dict>
</plist>
